.Rproj.user
.Rhistory
.RData
.DS_Store
/node_modules
/lib
/data/tiles
/data/obce
/data/shp
/data/suggester
/srv/publisher.ls
/www/screen.css
/www/external.css
/www/external.js
/www/js/*
/www/index.html
/www/index.html.gz
!/www/js/_loadExternal.js
!/www/js/_loadData.js
!/www/js/echo.js
/www/script.js
/www/data.js
/*.sublime-workspace
azure-upload-settings.json
