.dhondt
  position relative
  z-index 2
  float left
  clear left
  margin-top 20px
  .cast
    &.inactive
      opacity 0.2
    float left
    margin-right 20px
    .line
      float left
      clear left
      .mandat
        float left
        margin 0px 1px 1px 0px
        height 8px
        width 8px
        &.isEmpty
          border 1px solid #f3
  .mandatLine
    position absolute
    top 81px
    left 66px
    width 512px
    border-bottom 1px solid #666
    div.pica
      position absolute
      top -5px
      right -9px
      background #666
      width 11px
      height 11px
      transform rotate(45deg)
    div.picara
      position absolute
      top 0px
      right -12px
      width 15px
      border-bottom 1px solid  white

    span
      position absolute
      top -20px
      right -3px
      color #666
      transform rotate(90deg)
      transform-origin right
      &:last-child
        top 110px
