.dhondt
  position relative
  z-index 2
  float left
  clear left
  margin-top 20px
  .cast
    &.inactive
      opacity 0.2
    float left
    margin-right 20px
    .line
      float left
      clear left
      .mandat
        float left
        margin 0px 1px 1px 0px
        height 8px
        width 8px
        &.isEmpty
          background #eee
      &.isOver .mandat.isEmpty
        background #f9f9f9
  .mandatLine
    position absolute
    top 81px
    left 65px
    width 512px
    border-bottom 1px solid #666
