@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import souhrn
  @import dhondt
.ig
  svg
    z-index 1
    position absolute
    top 329px
    left 83px
    path.okrsek
      fill lighten(ColorHeadingLink, 99.5%)
      stroke lighten(ColorHeadingLink, 85%)
      stroke-width 1px
    text
      font-size 2em
      fill lighten(ColorHeadingLink, 85%)
div.ig
  width 610px
  float left
  clear left
div.ig.base
  height 740px
  position relative
  .dhondt .cast:nth-child(2) span.title
     display none
div.ig.souhrn
  height 120px
div.ig.dhondCela
  width 90px
  padding-bottom 20px
  .dhondt
    margin-top 0px
    .cast span.title
      display none
  .mandatLine
    display none
div.ig.dhondObvody
  padding-bottom 30px
  .mandatLine
    left 46px
    width 532px
  .dhondt
    .cast:nth-child(2)
      margin-left 50px
      .line .counter
        right auto
        left -25px
        text-align right

#article p em.popisek
  font-size 0.8em

#article .embed.clearfix + p
  clear left
