@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  svg
    bottom white
    path.okrsek
      fill lighten(ColorHeadingLink, 98%)
      stroke ColorHeadingLink
      stroke-width 1px
    text
      font-size 2em
      color ColorHeadingLink
div.ig
  width 610px
