.souhrn
  .container
    opacity 0.2
    &.active
      opacity 1


  .popisky
    span
      display block
      float left
      text-align center
      font-size 1.2em
      line-height 1.3em
  .popisky.okrsky span
      &:last-child
        width auto !important
        text-align right
        margin-left -23px
  .popisky.cela span
    &:nth-child(4)
      width auto !important
      text-align right
      margin-left -15px
    &:nth-child(5)
      padding-left 9px
    &:nth-child(6)
      padding-left 6px


  .mandaty
    float left
    clear left
    margin-top 10px
    .mandat
      width 8px
      height 8px
      float left
      margin 0px 1px 0px 0px
