.souhrn
  .helptext
    position absolute
    font-size 0.9em
    color #777
    position absolute
    top 65px
    .triangle
      position absolute
      display block

    &.okrsky
      left 10px
      padding-left 16px
      .triangle
        top 4px
        left 0px
        triangle 10px, 6px, 'top', lighten(black, 60%)
    &.cela
      left 0px
      width 567px
      padding-right 16px
      text-align right
      .triangle
        bottom 6px
        right 0px
        triangle 10px, 6px, 'bottom', lighten(black, 60%)

  .container
    opacity 0.2
    &.active
      opacity 1


  .popisky
    span
      display block
      float left
      text-align center
      font-size 1.2em
      line-height 1.3em
  .popisky.okrsky span
      &:last-child
        width auto !important
        text-align right
        margin-left -23px
  .popisky.cela span
    &:nth-child(4)
      width auto !important
      text-align right
      margin-left -15px
    &:nth-child(5)
      padding-left 9px
    &:nth-child(6)
      padding-left 6px


  .mandaty
    float left
    clear left
    margin-top 10px
    &.cela
      margin-top 28px
    .mandat
      width 8px
      height 8px
      float left
      margin 0px 1px 0px 0px
